Django==3.0.7
djangorestframework==3.11.0
ipykernel==5.2.1
ipython==7.14.0
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
mysql==0.0.2
mysqlclient==1.4.6
notebook==6.1.5
numpy==1.18.4.1
pandas==1.0.3
pickleshare==0.7.4
PyMySQL==0.9.3
scikit-learn==0.23.0
scipy==1.4.1
simplejson==3.13.2
virtualenv==20.0.20
virtualenvwrapper-win==1.2.6
